
/* inizio header */

.contenitore {
    background-color: rgb(0, 153, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
    
}

.logo {
    height: 50px;
}

.vuoto {
    height: 50px;;
}

.autore {
    color: rgb(121, 111, 111);
}

#scritta {
    color: rgb(0, 153, 255);
}

 #data {
     font-size: small;
 }
 
 /* fine header */

 /* inizio main */
 
thead {
    background-color: rgb(0, 153, 255);
    color: white;
}

#riga {
    background-color: lightskyblue;
}

table {
    border-collapse: collapse;
  }

  /* fine main */

  /* inizio footer */

  .oltre {
      color: rgb(121, 111, 111);
  }

  .foto1 {
    width: 270px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
}

.foto2 {
    width: 270px;
    height: 200px;
    background-image: url(../img/graph.jpg);  
}

h2{
    color: white;
}

/* fine footer  */