
/* inizio header */

.contenitore {
    background-color: rgb(0, 153, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
    
}

.logo {
    height: 50px;
}

.vuoto {
    height: 50px;;
}

.autore {
    color: rgb(121, 111, 111);
}

#scritta {
    color: rgb(0, 153, 255);
}

 #data {
     font-size: small;
 }
 
 /* fine header */
 